@page "/"

<PageTitle>Home</PageTitle>


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3> Bienvenidos</h3>
        </div>
        <div class=card-body>

            <p>Saludos</p>
            <p>Mi nombre es Lor Henzo</p>
            <p>Matricula (2021-0073)</p>


        </div>

    </div>
</div>